/*-----------------
 Carousel styles
----------------- */
.text-black-h1-h4 {
	color: rgb(182, 61, 61) !important;
}
.carousel-h1 {
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 65px;
}
.carousel-h4 {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
}
.carousel-button {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
}
/*-----------------
 Courses styles
----------------- */
.courses-header-h1 {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 45px;
	color: #289bde;
}
.courses-header-p {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
}
.course-button {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	color: #289bde;
}
.multi-course-h5 {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	color: #289bde;
}
.multi-course-p {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
}
/*-----------------
 E-Learning styles
------------------ */
.course-choices {
	box-sizing: content-box;
	border: 1px solid #289bde;
}
.bg-secondary-elearning {
	background-color: #f4fafd;
}
.elearning-h1 {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 45px;
	color: #289bde;
}
.three-elearning-h1 {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	font-size: 45px;
	color: #289bde;
}
.three-elearning-p {
	font-family: "Poppins";
	font-style: normal;
	font-size: 20px;
	color: #777777;
}
/*---------------
 Footer styles 
---------------*/
.bg-secondary-footer {
	background-color: black;
}

/* Breakpoints:
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV.
 */
/*----------------
   Mobile devices
----------------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
	/*-----------------
      Carousel styles
    ----------------- */
	.carousel-h1 {
		padding-bottom: 0% !important;
		margin-bottom: 0% !important;
		font-size: 20px;
	}
	.carousel-caption {
		padding-bottom: 0% !important;
		margin-bottom: 0% !important;
	}
	.carousel-h4 {
		margin-top: 15px;
		padding-bottom: 0% !important;
		margin-bottom: 0% !important;
		font-size: 10px;
	}
	.carousel-button {
		margin-top: 15px !important;
		padding: 5px 10px !important;
		font-size: 10px !important;
	}
	/*-----------------
      Courses styles
   ----------------- */
	.flex-row {
		flex-direction: column !important;
	}
	/*-------------------
      E-Learning styles
   -------------------- */
	.bg-secondary-elearning {
		flex-direction: column;
	}
	.elearning-img {
		width: 100%;
	}
	.elearning-total-text-div {
		padding-top: 20px;
		width: 100%;
	}
	.elearning-three-section {
		flex-direction: column;
	}
	.three-elearning-h1 {
		font-size: 25px;
	}
	.three-elearning-p {
		font-size: 15px !important;
	}
	/*---------------------
    Ready-to-join styles
   ---------------------- */
	.ready-to-join-div {
		flex-direction: column;
	}
	.ready-to-join-h1 {
		text-align: center;
	}
	.ready-to-join-p {
		text-align: center;
	}
}
/*----------------
   iPads, Tablets
----------------- */
@media only screen and (min-width: 481px) and (max-width: 768px) {
	/*-------------------
      Caarousel styles
   ------------------- */
	.carousel-h1 {
		font-size: 40px;
	}
	.carousel-caption {
		padding-bottom: 0% !important;
		margin-bottom: 0% !important;
	}
	.carousel-h4 {
		margin-top: px !important;
		padding-bottom: 0% !important;
		margin-bottom: 0% !important;
		font-size: 16px;
	}
	.carousel-button {
		margin-top: 25px;
		padding: 5px 10px !important;
		font-size: 10px;
	}
	/*--------------------
      E-Learning styles
   -------------------- */
	.elearning-img {
		width: 250px;
	}
	.elearning-h1 {
		font-size: 20px;
	}
	.three-elearning-h1 {
		font-size: 20px;
	}
	.three-elearning-p {
		font-size: 10px;
	}
	.elearning-button {
		margin-top: 0% !important;
		margin-bottom: 0% !important;
		margin-right: 0% !important;
	}
}
/*------------------------
   Small screens, laptops
------------------------ */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
	/*-----------------
      Carousel styles
   ----------------- */
	.carousel-h1 {
		font-size: 50px;
	}
	.carousel-caption {
		padding-bottom: 0% !important;
		margin-bottom: 0% !important;
	}
	.carousel-h4 {
		margin-top: px !important;
		padding-bottom: 0% !important;
		margin-bottom: 0% !important;
		font-size: 30px;
	}
	.carousel-button {
		margin-top: 25px;
		padding: 5px 10px !important;
		font-size: 10px;
	}
}
